.popup-large-img__close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    padding: 0;
    top: 50px;
    left: calc(100% + 8px);
}

.popup-large-img__close-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 530px) {
    .popup-large-img__close-button {
        top: 100px;
        left: calc(100% - 20px);
    }
}